
.box_login{
    width: 380px;
    height: 420px;
    margin-left: calc(50% - 190px);
    margin-top: calc(10%);
    position: relative;   
    background: #1c1c1c;
    border-radius: 8px;
    
    .form_login{
        position: absolute;
        background: rgb(151, 255, 151);
        border-radius: 8px;
        inset: 2px;
        z-index: 10;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;

        h2{
            color: var(--text-color);
            font-weight: 500;
            text-align: center;
            letter-spacing: 0.1em;
            
        }

        .inputBox{
            position: relative;
            width: 300px;
            margin-top: 20px;

            input{
                position: relative;
                width: 100%;
                padding: 15px 10px 10px;
                // background: transparent ;
                // outline: none;
                // border: none;
                color: #23242a;
                font-size: 1em;
                letter-spacing: 0.05em;
                z-index: 1;
            }
        }
        .btn-logins{
            font-weight: bold;
            width: 120px;
            position: absolute;
            margin-right: 25px;
            margin-top: 0px;
            border-radius: 5px;
            bottom: 12px;
            right: 12px;
            padding: 10px;
            border: none;
            color: white;
            font-size: 14px;
            background: rgb(0, 92, 0);
            &:hover{
                background-color: rgb(13, 105, 59);
                color: greenyellow;
            }
        }
        
        .btn-dangky{
            color: white;
            font-size: 14px;
            background: rgb(0, 92, 0);
            font-weight: bold;
            width: 120px;
            margin-left: -0px;
            margin-top: 20px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            // z-index: 10;
            &:hover{
                background-color: rgb(13, 105, 59);
                
            }

            &:hover a{
                color: greenyellow;
            }
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}

